# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pkl
backend/.env
backend/faostat_cache.csv

# Node
frontend/node_modules/
frontend/dist/
frontend/.firebase/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db